## Préparer la Base de Données SQLite

- Télécharger la base de données Chinook :

Téléchargez le fichier chinook.db depuis le site officiel : Chinook Database.

- Extraire et placer le fichier :

Extrayez le fichier chinook.db et placez-le dans le répertoire de votre projet.

In [1]:
import sqlite3
import pandas as pd

# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = "SELECT * FROM customers LIMIT 5;"
df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.

                           Address                 City State         Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP          Brazil
1          Theodor-Heuss-Straße 34            Stuttgart  None         Germany
2                1498 rue Bélanger             Montréal    QC          Canada
3                 Ullevålsveien 14                 Oslo  None          Norway
4                    Klanova 9/506               Prague  None  Czech Republic

  PostalCode               Phone                 Fax  \
0  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1      70174    +49 0711 2842222                None
2    H2G 1A7   +1 (514) 721-4711                None
3       0171     +47 22 44 22 22                None
4      14700    +420 2 4172 5555    +420 2 4172 5555

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4

## Exercice 1 : 
    Lister les noms et prénoms des clients résidant au Brésil.

*Solution:*

In [3]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT FirstName, LastName
FROM customers
WHERE Country = 'Brazil';"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

   FirstName   LastName
0       Luís  Gonçalves
1    Eduardo    Martins
2  Alexandre      Rocha
3    Roberto    Almeida
4   Fernanda      Ramos

## Exercice 2 : 
    Trouver le nombre total de pistes (tracks) dans chaque genre (genre).

*Solution :*

In [4]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT g.Name AS GenreName, COUNT(t.TrackId) AS NumberOfTracks
FROM genres g
JOIN tracks t ON g.GenreId = t.GenreId
GROUP BY g.Name
ORDER BY NumberOfTracks DESC;"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

             GenreName  NumberOfTracks
0                 Rock            1297
1                Latin             579
2                Metal             374
3   Alternative & Punk             332
4                 Jazz             130
5             TV Shows              93
6                Blues              81
7            Classical              74
8                Drama              64
9             R&B/Soul              61
10              Reggae              58
11                 Pop              48
12          Soundtrack              43
13         Alternative              40
14         Hip Hop/Rap              35
15   Electronica/Dance              30
16               World              28
17         Heavy Metal              28
18    Sci Fi & Fantasy              26
19      Easy Listening              24
20              Comedy              17
21          Bossa Nova              15
22     Science Fiction              13
23       Rock And Roll              12
24               Opera               1

## Exercice 3 : 
    Récupérer les titres des albums et les noms des artistes correspondants.

*Solution :*

In [5]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT al.Title AS AlbumTitle, ar.Name AS ArtistName
FROM albums al
JOIN artists ar ON al.ArtistId = ar.ArtistId
ORDER BY ArtistName, AlbumTitle;"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

                                AlbumTitle  \
0    For Those About To Rock We Salute You
1                        Let There Be Rock
2            A Copland Celebration, Vol. I
3                                   Worlds
4        The World of Classical Favourites
..                                     ...
342                     Vinicius De Moraes
343              Bach: Goldberg Variations
344       Bartok: Violin & Viola Concertos
345                 Bach: The Cello Suites
346                       Ao Vivo [IMPORT]

                                            ArtistName
0                                                AC/DC
1                                                AC/DC
2            Aaron Copland & London Symphony Orchestra
3                                       Aaron Goldberg
4    Academy of St. Martin in the Fields & Sir Nevi...
..                                                 ...
342                                 Vinícius De Moraes
343                                     Wilhelm Kempff
344                                     Yehudi Menuhin
345                                           Yo-Yo Ma
346                                     Zeca Pagodinho

[347 rows x 2 columns]

## Exercice 4 : 
    Trouver les employés qui ne sont pas des responsables (c'est-à-dire, personne ne leur reporte).

*Solution :*

In [7]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT EmployeeId, FirstName, LastName
FROM employees
WHERE EmployeeId NOT IN (SELECT DISTINCT ReportsTo FROM employees WHERE ReportsTo IS NOT NULL);"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

   EmployeeId FirstName  LastName
0           3      Jane   Peacock
1           4  Margaret      Park
2           5     Steve   Johnson
3           7    Robert      King
4           8     Laura  Callahan

## Exercice 5 : 
    Lister les playlists contenant plus de 15 pistes.

*Solution :*

In [8]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT p.PlaylistId, p.Name, COUNT(pt.TrackId) AS NumberOfTracks
FROM playlists p
JOIN playlist_track pt ON p.PlaylistId = pt.PlaylistId
GROUP BY p.PlaylistId, p.Name
HAVING NumberOfTracks > 15
ORDER BY NumberOfTracks DESC;"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

    PlaylistId                        Name  NumberOfTracks
0            1                       Music            3290
1            8                       Music            3290
2            5                  90’s Music            1477
3            3                    TV Shows             213
4           10                    TV Shows             213
5           12                   Classical              75
6           11             Brazilian Music              39
7           17         Heavy Metal Classic              26
8           13   Classical 101 - Deep Cuts              25
9           14  Classical 101 - Next Steps              25
10          15  Classical 101 - The Basics              25

## Exercice 6 : 
    Trouver les 5 artistes les plus prolifiques en termes de nombre de pistes disponibles.

*Solution :*

In [9]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT ar.Name AS ArtistName, COUNT(t.TrackId) AS NumberOfTracks
FROM artists ar
JOIN albums al ON ar.ArtistId = al.ArtistId
JOIN tracks t ON al.AlbumId = t.AlbumId
GROUP BY ar.Name
ORDER BY NumberOfTracks DESC
LIMIT 5;"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

     ArtistName  NumberOfTracks
0   Iron Maiden             213
1            U2             135
2  Led Zeppelin             114
3     Metallica             112
4          Lost              92

## Exercice 7 : 
    Lister les clients qui ont dépensé plus de 40 dollars en achats, en affichant leur nom complet et le montant total dépensé.

*Solution :*

In [12]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT c.FirstName || ' ' || c.LastName AS FullName, SUM(il.UnitPrice * il.Quantity) AS TotalSpent
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId
JOIN invoice_items il ON i.InvoiceId = il.InvoiceId
GROUP BY c.CustomerId
HAVING TotalSpent > 40
ORDER BY TotalSpent DESC;"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

                 FullName  TotalSpent
0             Helena Holý       49.62
1      Richard Cunningham       47.62
2              Luis Rojas       46.62
3         Ladislav Kovács       45.62
4           Hugh O'Reilly       45.62
5         Fynn Zimmermann       43.62
6           Frank Ralston       43.62
7           Julia Barnett       43.62
8          Victor Stevens       42.62
9           Astrid Gruber       42.62
10       Terhi Hämäläinen       41.62
11  František Wichterlová       40.62
12       Isabelle Mercier       40.62
13  Johannes Van der Berg       40.62

## Exercice 8 : 
    Identifier les employés qui supervisent au moins deux autres employés, en affichant leur nom complet et le nombre de subordonnés.

*Solution :*

In [13]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT e.FirstName || ' ' || e.LastName AS ManagerName, COUNT(sub.EmployeeId) AS NumberOfSubordinates
FROM employees e
JOIN employees sub ON e.EmployeeId = sub.ReportsTo
GROUP BY e.EmployeeId
HAVING NumberOfSubordinates >= 2
ORDER BY NumberOfSubordinates DESC;"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

        ManagerName  NumberOfSubordinates
0     Nancy Edwards                     3
1      Andrew Adams                     2
2  Michael Mitchell                     2

## Exercice 9 : 
    Trouver les genres musicaux qui n'ont jamais été achetés par aucun client.

*Solution :*

In [17]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT g.Name AS GenreName
FROM genres g
WHERE g.GenreId NOT IN (
    SELECT DISTINCT t.GenreId
    FROM tracks t
    JOIN invoice_items il ON t.TrackId = il.TrackId
);"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

  GenreName
0     Opera

## Exercice 10 : 
    Calculer le revenu total généré par chaque pays, en affichant le nom du pays et le montant total des ventes, triés par ordre décroissant de revenus.

*Solution :*

In [18]:
# Se connecter à la base de données
conn = sqlite3.connect('chinook.db')

# Exécuter une requête SQL
query = """SELECT c.Country, SUM(il.UnitPrice * il.Quantity) AS TotalRevenue
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId
JOIN invoice_items il ON i.InvoiceId = il.InvoiceId
GROUP BY c.Country
ORDER BY TotalRevenue DESC;"""

df = pd.read_sql_query(query, conn)

# Afficher les résultats
print(df)

# Fermer la connexion
conn.close()

           Country  TotalRevenue
0              USA        523.06
1           Canada        303.96
2           France        195.10
3           Brazil        190.10
4          Germany        156.48
5   United Kingdom        112.86
6   Czech Republic         90.24
7         Portugal         77.24
8            India         75.26
9            Chile         46.62
10         Ireland         45.62
11         Hungary         45.62
12         Austria         42.62
13         Finland         41.62
14     Netherlands         40.62
15          Norway         39.62
16          Sweden         38.62
17           Spain         37.62
18          Poland         37.62
19           Italy         37.62
20         Denmark         37.62
21         Belgium         37.62
22       Australia         37.62
23       Argentina         37.62

# Test Python

## Reverse Polish Notation (RPN) calculator

In [19]:
from typing import List, Union, Callable, Dict

# Define the type for operands which can be either int or float
Operand = Union[int, float]

# Define the type for the stack which is a list of operands
Stack = List[Operand]

# Define the type for operator functions
OperatorFunction = Callable[[Operand, Operand], Operand]

# Dictionary mapping supported operators to their corresponding functions
OPERATORS: Dict[str, OperatorFunction] = {
    '+': lambda a, b: a + b,
    '-': lambda a, b: a - b,
    '*': lambda a, b: a * b,
    '/': lambda a, b: a / b if b != 0 else float('inf'),  # Handle division by zero
}

def evaluate_rpn(expression: str) -> Operand:
    """
    Evaluate a Reverse Polish Notation expression.

    Args:
        expression (str): The RPN expression as a space-separated string.

    Returns:
        Operand: The result of the evaluation.

    Raises:
        ValueError: If the expression is invalid or contains unsupported operators.
    """
    stack: Stack = []

    # Split the expression into tokens based on whitespace
    tokens = expression.split()

    for token in tokens:
        if token in OPERATORS:
            # Ensure there are at least two operands on the stack for the operation
            if len(stack) < 2:
                raise ValueError(f"Insufficient operands for operator '{token}'")
            # Pop the two topmost operands; b is popped first because it's the second operand
            b = stack.pop()
            a = stack.pop()
            # Perform the operation and push the result back onto the stack
            result = OPERATORS[token](a, b)
            stack.append(result)
        else:
            try:
                # Attempt to convert the token to a float and push onto the stack
                operand = float(token)
                stack.append(operand)
            except ValueError:
                # Raise an error if the token is neither an operator nor a valid number
                raise ValueError(f"Invalid token '{token}' encountered")

    # After processing all tokens, there should be exactly one operand left on the stack
    if len(stack) != 1:
        raise ValueError("The expression is invalid or incomplete")

    return stack[0]

# Example usage:
if __name__ == "__main__":
    rpn_expression = "3 4 + 2 * 7 /"
    try:
        result = evaluate_rpn(rpn_expression)
        print(f"Result: {result}")
    except ValueError as e:
        print(f"Error: {e}")

Result: 2.0

## Is prime number

In [20]:
import math

def is_prime(n: int) -> bool:
    """
    Determine if a number is prime.

    Args:
        n (int): The number to check.

    Returns:
        bool: True if n is prime, False otherwise.
    """
    # Handle edge cases: numbers less than 2 are not prime
    if n < 2:
        return False

    # Check for factors from 2 up to the square root of n
    for i in range(2, int(math.isqrt(n)) + 1):
        if n % i == 0:
            return False

    return True

# Example usage:
if __name__ == "__main__":
    number = 29
    if is_prime(number):
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

29 is a prime number.

## Strength of a password using regular expressions

In [21]:
import re

def is_strong_password(password: str) -> bool:
    """
    Determine if a password is strong based on specific criteria.

    A strong password must:
    - Be at least 8 characters long
    - Contain at least one uppercase letter
    - Contain at least one lowercase letter
    - Contain at least one digit
    - Contain at least one special character from [@#$%^&+=!]

    Args:
        password (str): The password to evaluate.

    Returns:
        bool: True if the password is strong, False otherwise.
    """
    # Define the regex pattern for a strong password
    pattern = re.compile(
        r"""
        ^                   # Start of string
        (?=.*[a-z])         # At least one lowercase letter
        (?=.*[A-Z])         # At least one uppercase letter
        (?=.*\d)            # At least one digit
        (?=.*[@#$%^&+=!])   # At least one special character
        .{8,}               # Minimum length of 8 characters
        $                   # End of string
        """,
        re.VERBOSE           # Allow verbose regex for better readability
    )

    # Use the fullmatch method to ensure the entire password matches the pattern
    return bool(pattern.fullmatch(password))

# Example usage:
if __name__ == "__main__":
    test_passwords = [
        "WeakPass1",
        "StrongPass1!",
        "short1!",
        "NoSpecialChar1",
        "ValidPass123@"
    ]

    for pwd in test_passwords:
        if is_strong_password(pwd):
            print(f"'{pwd}' is a strong password.")
        else:
            print(f"'{pwd}' is not a strong password.")

'WeakPass1' is not a strong password.
'StrongPass1!' is a strong password.
'short1!' is not a strong password.
'NoSpecialChar1' is not a strong password.
'ValidPass123@' is a strong password.

## Vérifier si une chaîne est un palindrome en ignorant la casse et les espaces

In [25]:
import re

def is_palindrome(s: str) -> bool:
    """
    Check if a given string is a palindrome, ignoring spaces, punctuation, and case.

    Args:
        s (str): Input string.

    Returns:
        bool: True if the string is a palindrome, False otherwise.
    """
    # Remove non-alphanumeric characters and convert to lowercase
    cleaned = re.sub(r'[^A-Za-z0-9]', '', s).lower()
    # Compare the cleaned string with its reverse
    return cleaned == cleaned[::-1]

In [32]:
is_palindrome("A man a plan a canal Panama")

True

## Trouver la sous-chaîne la plus longue sans caractères répétés

In [ ]:
def longest_unique_substring(s: str) -> str:
    """
    Find the longest substring without repeating characters.

    Args:
        s (str): Input string.

    Returns:
        str: Longest substring without repeating characters.
    """
    start = 0
    max_length = 0
    max_substr = ""
    used_chars = {}

    for i, char in enumerate(s):
        if char in used_chars and start <= used_chars[char]:
            start = used_chars[char] + 1
        else:
            if i - start + 1 > max_length:
                max_length = i - start + 1
                max_substr = s[start:i + 1]
        used_chars[char] = i

    return max_substr

In [33]:
longest_unique_substring("pwwkew")

'wke'

## Set partitions problem
Étant donné un ensemble d'entiers positifs, écrivez une fonction Python qui détermine s'il est possible de partitionner cet ensemble en deux sous-ensembles de sommes égales. Si une telle partition est possible, la fonction doit retourner les deux sous-ensembles. Sinon, elle doit indiquer qu'une telle partition n'est pas possible.

In [1]:
def can_partition(nums):
    """
    Détermine si un ensemble peut être partitionné en deux sous-ensembles de sommes égales.
    Si possible, retourne les deux sous-ensembles. Sinon, indique que la partition n'est pas possible.
    """
    total_sum = sum(nums)
    
    # Si la somme totale est impaire, une partition égale est impossible
    if total_sum % 2 != 0:
        return False, None, None
    
    target = total_sum // 2
    n = len(nums)
    
    # Initialisation de la table DP
    dp = [[False] * (target + 1) for _ in range(n + 1)]
    
    # Il est toujours possible de former la somme 0 avec 0 éléments
    for i in range(n + 1):
        dp[i][0] = True
    
    # Remplissage de la table DP
    for i in range(1, n + 1):
        for j in range(1, target + 1):
            if nums[i - 1] > j:
                dp[i][j] = dp[i - 1][j]
            else:
                dp[i][j] = dp[i - 1][j] or dp[i - 1][j - nums[i - 1]]
    
    # Si la somme cible n'est pas atteignable, retourner False
    if not dp[n][target]:
        return False, None, None
    
    # Reconstruction des sous-ensembles
    subset1 = []
    subset2 = nums.copy()
    i, j = n, target
    
    while i > 0 and j > 0:
        if dp[i][j] and not dp[i - 1][j]:
            subset1.append(nums[i - 1])
            subset2.remove(nums[i - 1])
            j -= nums[i - 1]
        i -= 1
    
    return True, subset1, subset2

# Exemple d'utilisation
nums = [3, 1, 5, 9, 12]
possible, subset1, subset2 = can_partition(nums)

if possible:
    print("Partition possible.")
    print("Sous-ensemble 1 :", subset1)
    print("Sous-ensemble 2 :", subset2)
else:
    print("Partition non possible.")

Partition possible.
Sous-ensemble 1 : [9, 5, 1]
Sous-ensemble 2 : [3, 12]